language: cpp

script:
  - mkdir build && cd build
  - cmake .. -DCMAKE_CXX_COMPILER=g++-6
  - cmake --build .
  - ./hello

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-6